/* Contact - Container Wrapper (Main Grid) */

.contact-container-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px auto);
    grid-template-areas:
        "hd hd hd hd"
        "cf cf cf bs"
        "sc sc sc sc"
        "ft ft ft ft";
}

header {
    grid-area: hd;
}

.contact-form {
    grid-area: cf;
}

.blog-aside {
    grid-area: bs;
}

.subscription {
    grid-area: sc;
}

footer {
    grid-area: ft;
}


/* Header */

.contact-container-wrapper header {
    box-shadow: 0 8px 6px -6px #eee;
    z-index: 10;
}


/* Contact Form */

.contact-form {
    padding: 7% 10%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form input{
    width: 100%;
}

.contact-form form input,
.contact-form textarea {
    background-color: #fafafa;
    margin-bottom: 20px;
}


/* Media Queries */

@media only screen and (max-width: 767px) {

    /* Contact Form */

    .contact-form {
        width: 80%;
    }

}

@media only screen and (max-width: 980px) {

    /* Contact - Container Wrapper (Main Grid) */

    .contact-container-wrapper {
        grid-template-areas:
            "hd hd hd hd"
            "cf cf cf cf"
            "bs bs bs bs"          
            "sc sc sc sc"
            "ft ft ft ft";
    }

}